

#newGame
{
    -fx-text-fill: #aad2d8;
    -fx-background-color: #306169;
    -fx-font-weight: bold;
    -fx-border-color: #204146;
    -fx-font-size:30;
    
    
}

#quit
{
    -fx-text-fill: #aad2d8;
    -fx-background-color: #306169;
    -fx-font-weight: bold;
    -fx-border-color: #204146;
    -fx-font-size:30;
}

#X
{
    -fx-padding: 0 0 0 0;
    -fx-text-fill: whitesmoke;
    -fx-background-color: black;
    -fx-font-size: 55;
    -fx-font-weight: bold;
}

#O
{
    -fx-padding: 0 0 0 0;
    -fx-text-fill: white;
    -fx-background-color: darkgreen;
    -fx-font-size: 55;
    -fx-font-weight: bold;
}

#top { -fx-background-color: #50a2af; }

#root { -fx-background-color: #aad2d8; }

#winner
{
    -fx-background-color: lightskyblue;
    -fx-font-weight: bold;
}
#Cont { -fx-background-color:  #aad2d8; }

#easy
{
    -fx-text-fill: #aad2d8;
    -fx-background-color: #306169;
    -fx-font-weight: bold;
    -fx-border-color: #204146;
    -fx-font-size:30;
    
    
}



#hard
{
    
    -fx-text-fill: #aad2d8;
    -fx-background-color: #306169;
    -fx-font-weight: bold;
    -fx-border-color: #204146;
    -fx-font-size:30;
    
   
}

#label
{
    -fx-text-fill: darkred;
/*    -fx-background-color: #306169;*/
    -fx-font-weight: bold;
/*    -fx-border-color: #204146;*/
    -fx-font-size:30;
    
}